ion-icon {
  pointer-events: none;
}

:root {
  --pl-brand: $brand;
  --pl-primary: $primary;
  --pl-secondary: $secondary;
  --pl-subpoint: $subpoint;
  --pl-point: $point;
  --pl-brand-r: 89;
  --pl-primary-r: 115;
  --pl-secondary-r: 169;
  --pl-subpoint-r: 226;
  --pl-point-r: 255;
  --pl-brand-g: 255;
  --pl-primary-g: 125;
  --pl-secondary-g: 178;
  --pl-subpoint-g: 233;
  --pl-point-g: 155;
  --pl-brand-b: 197;
  --pl-primary-b: 30;
  --pl-secondary-b: 82;
  --pl-subpoint-b: 134;
  --pl-point-b: 108;
}

body {
  display: block;
  flex-direction: unset;
}

img {
  -webkit-user-drag: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* main */
.card-wrap {
  position: relative;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}
.card-wrap .card {
  position: absolute;
  transition: top 300ms ease, opacity 300ms ease, left 300ms ease;
  -webkit-transition: top 300ms ease, opacity 300ms ease, left 300ms ease;
  -moz-transition: top 300ms ease, opacity 300ms ease, left 300ms ease;
  -ms-transition: top 300ms ease, opacity 300ms ease, left 300ms ease;
  -o-transition: top 300ms ease, opacity 300ms ease, left 300ms ease;
}
.card-wrap .card.hide {
  opacity: 0;
}
.card-wrap .card.show {
  opacity: 1;
}

.horizon-pad {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cc {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 500px;
}
.cc .cc-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}
.cc .cc-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.cc .cc-background-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  animation: cc-reveal 1s both;
  -webkit-animation: cc-reveal 1s both;
}
.cc .cc-foreground {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
  transition: all 0.75s ease-in-out;
  transition-delay: 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  animation: cc-reveal 2s both;
  -webkit-animation: cc-reveal 2s both;
}
.cc .cc-foreground .cc-forestring {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}
.cc .cc-foreground .cc-forestring .greeting {
  position: relative;
  color: white;
  min-width: 20rem;
  width: calc(180% - 100vw);
  max-width: 36rem;
  animation: cc-reveal 1s both, cc-overlay 1s both;
  -webkit-animation: cc-reveal 1s both, cc-overlay 1s both;
}
.cc .cc-foreground .cc-forestring .greeting .greeting-title {
  font-weight: bold;
  font-size: 3rem;
}
@media (min-width: 576px) {
  .cc .cc-foreground .cc-forestring {
    padding: 5rem;
  }
}

.img-slide-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.img-slide-wrap .img-slide::-webkit-scrollbar {
  display: none;
}
.img-slide-wrap .img-slide {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
}
.img-slide-wrap .img-slide .arrow-left {
  color: rgba(0, 0, 0, 0.5);
}
.img-slide-wrap .img-slide .arrow-right {
  color: rgba(0, 0, 0, 0.5);
}
.img-slide-wrap .img-slide .img-item {
  position: relative;
  width: 250px;
  height: 250px;
}
.img-slide-wrap .img-slide .img-item .info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem;
}
.img-slide-wrap .img-slide .img-item .info-box .star {
  display: flex;
}
.img-slide-wrap .img-slide .img-item .info-box .like {
  display: flex;
}

.star {
  align-items: center;
}
.star :first-child {
  color: rgb(var(--pl-warning-r), var(--pl-warning-g), var(--pl-warning-b));
  cursor: pointer;
}
.star :first-child:hover {
  opacity: 0.5;
  transition: 150ms ease;
  -webkit-transition: 150ms ease;
  -moz-transition: 150ms ease;
  -ms-transition: 150ms ease;
  -o-transition: 150ms ease;
}

.like {
  align-items: center;
}
.like :first-child {
  color: rgb(var(--pl-danger-r), var(--pl-danger-g), var(--pl-danger-b));
  cursor: pointer;
}
.like :first-child:hover {
  opacity: 0.5;
  transition: 150ms ease;
  -webkit-transition: 150ms ease;
  -moz-transition: 150ms ease;
  -ms-transition: 150ms ease;
  -o-transition: 150ms ease;
}

@keyframes cc-overlay {
  0% {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@keyframes cc-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* main */

/*# sourceMappingURL=main.css.map */
